<div class="row">
<div class="col-md-6">
    <h2>Change Password</h2>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="row">
    <div class="col-md-1">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
    </div>
    <div class="col-md-11">
      <%= f.text_field :password, id: :password %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <%= f.label :password_confirmation %>
    </div>
    <div class="col-md-11">
      <%= f.text_field :password_confirmation, id: :api_offset, placeholder: 'password confirmation' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.submit 'Submit', class: 'pull-right' %>
    </div>
    <div class="col-md-6">
      <%= link_to 'Back', authenticated_root_path, class: 'fadeIn fourth button' %>
    </div>
  </div>
<% end %>
