<div class="row">
<div class="col-md-6">
    <h2>Api Setting</h2>
  </div>
  <div class="col-md-6">
    <%= link_to "New Api", new_api_path, class: 'fadeIn fourth button pull-right' %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Url</th>
      <th>Offset</th>
      <th>Limit</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @apis.each do |api| %>
      <tr>
        <td><%= api.url %></td>
        <td><%= api.offset %></td>
        <td><%= api.limit %></td>
        <td><%= link_to 'Edit', edit_api_path(api) %></td>
        <td><%= link_to 'Destroy', api, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

